_site
_posts
docs
.jekyll-cache
.jekyll-metadata
.sass-cache
Gemfile.lock
*.gem
_layouts/orig_default.html
_layouts/portfolio.html
_layouts/portfolio-4-columns.html
_index.html
another-page.md
contact_backup_130620221314CET.md
index_bk_15062022_0105CET.md
backups