<!-- Footer -->
<footer class="site-footer clearfix">
    <div class="footer-social">
      <ul class="footer-social-links">
        <li>
          <a href="{{ site.data.author.config.linkedin }}" target="_blank">LinkedIn</a>
        </li>

        <li>
          <a href="{{ site.data.author.config.twitter }}" target="_blank">Twitter</a>
        </li>

        <li>
          <a href="{{ site.data.author.config.github }}" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
        
    <div class="footer-copyrights">
      <p>© {{ site.time | date: "%Y" }} | All Rights Reserved | {{ site.data.author.config.name }}</p>
    </div>
  </footer>
  <!-- /Footer -->
  
  <!-- BEGIN: Cookiebot Footer -->
  <script id="CookieDeclaration" src="https://consent.cookiebot.com/3d2f176d-998f-406e-aa2d-c50fd6350b7c/cd.js" type="text/javascript" async></script>
  <!-- END: Cookiebot Footer -->

</div>
</div>

<script src="{{ site.baseurl }}/assets/js/jquery-3.5.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/imagesloaded.pkgd.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src='{{ site.baseurl }}/assets/js/jquery.shuffle.min.js'></script>
<script src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
<script src='{{ site.baseurl }}/assets/js/owl.carousel.min.js'></script>
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.googlemap.js"></script>
<script src="{{ site.baseurl }}/assets/js/validator.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
