<header id="site_header" class="header">
    <div class="header-content clearfix">
          
      <!-- Text Logo -->
      <div class="text-logo">
        <a href="{{ site.logo_local.url }}/">
          <div class="logo-symbol">{{ site.logo_local.symbol }}</div>
          <div class="logo-text">{{ site.logo_local.text }}</div>
        </a>
      </div>
      <!-- /Text Logo -->

      <!-- Navigation -->
      <div class="site-nav mobile-menu-hide">
        <ul class="leven-classic-menu site-main-menu">
          <li class="menu-item current-menu-item">
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
      {% for item in site.data.pageconfig.navigation %}
        {% if item.enabled %}
          {% if item.has_children %}
          <li class="menu-item menu-item-has-children">
            {% assign child_base_url = site.baseurl | append: item.url %}
            <a href="{{ child_base_url }}">{{ item.name }}</a>
            <ul class="sub-menu">
              {% for subitem in item.children %}
              {% if subitem.enabled %}
              {% assign child_url = child_base_url | append: subitem.url %}
              <li class="menu-item">
                <a href="{{ child_url }}">{{ subitem.name }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% else %}
            {% if item.current %}
            <li class="menu-item current-menu-item">
            {% else %}
            <li class="menu-item">
            {% endif %}
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

        </ul>
      </div>
      
      <!-- Mobile Menu Toggle -->
      <a class="menu-toggle mobile-visible">
        <i class="fa fa-bars"></i>
      </a>
      <!-- Mobile Menu Toggle -->
    </div>
  </header>