<header id="site_header" class="header">
    <div class="header-content clearfix">
          
      <!-- Text Logo -->
      <div class="text-logo">
        <a href="{{ site.baseurl }}/">
          <div class="logo-symbol">&Lambda;</div>
          <div class="logo-text">Ali <span>Saif</span></div>
        </a>
      </div>
      <!-- /Text Logo -->

      <!-- Navigation -->
      <div class="site-nav mobile-menu-hide">
        <ul class="leven-classic-menu site-main-menu">
          <li class="menu-item current-menu-item">
            <a href="{{ site.baseurl }}/experience/">Experience</a>
          </li>
    
          <li class="menu-item menu-item-has-children">
            <a href="{{ site.baseurl }}/evolution/">Achievements</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Publications</a>
              </li>
              <li class="menu-item">
                <a href="#">Innovations</a>
              </li>
              <li class="menu-item">
                <a href="#">Webinars</a>
              </li>
              <li class="menu-item">
                <a href="#">Podcasts</a>
              </li>
              <li class="menu-item">
                <a href="#">Videos</a>
              </li>
            </ul>
          </li>
          
          <li class="menu-item">
            <a href="#">Blog</a>
          </li>
    
          <li class="menu-item">
            <a href="{{ site.baseurl }}/contact/">Contact</a>
          </li>
        </ul>
      </div>
      
      <!-- Mobile Menu Toggle -->
      <a class="menu-toggle mobile-visible">
        <i class="fa fa-bars"></i>
      </a>
      <!-- Mobile Menu Toggle -->
    </div>
  </header>